<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-dark table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Nombre</td>
            <td>Correo</td>
            <td>Fecha de Nacimiento</td>
            <td>DNI</td>
            <td>Edad</td>
            <td>Telefono</td>
          </tr>
        </thead>
        <tbody>
          <% if (donantes) { %> <% for(var i = 0; i < donantes.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= donantes[i].nombre %></td>
            <td><%= donantes[i].correo %></td>
            <td><%= donantes[i].fechaNacimiento %></td>
            <td><%= donantes[i].DNI %></td>
            <td><%= donantes[i].Edad %></td>
            <td><%= donantes[i].Telefono %></td>
            <td class="d-flex gap-2">
              <a href="/donantes/update/<%= donantes[i].id %>" class="btn btn-info">
                Edit
              </a>
              <a href="/donantes/delete/<%= donantes[i].id %>" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <form action="/donantes/add" method="POST">
          <input
            type="text"
            name="nombre"
            placeholder="nombre"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="email"
            name="correo"
            placeholder="correo Electrónico"
            class="form-control mb-2"
          />
          <input
            type="date"
            name="fechaNacimiento"
            placeholder="Fecha de Nacimiento"
            class="form-control mb-2"
          />
          <input
            type="number"
            name="DNI"
            placeholder="DNI"
            class="form-control mb-2"
          />
          <input
            type="number"
            name="edad"
            placeholder="edad"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="telefono"
            placeholder="Telefono"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-info">Grabar Donante</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
