<%- include("partials/_header") %>

<div class="mt-5">
  <div class="col">
    <div class="card col-9">
      <table class="table table-dark table-bordered table-hover tabla_donantes">
        <thead>
          <tr>
            <td>n째</td>
            <td>Nombre del Donante</td>
            <td>Correo Electr처nico</td>
            <td>Fecha de Nacimiento</td>
            <td>DNI</td>
            <td>Edad</td>
            <td>Telefono</td>
          </tr>
        </thead>
        <tbody>
          <% if (donantes) { %> <% for(var i = 0; i < donantes.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= donantes[i].nombre %></td>
            <td><%= donantes[i].correo %></td>
            <td><%= donantes[i].fechaNacimiento %></td>
            <td><%= donantes[i].DNI %></td>
            <td><%= donantes[i].edad %></td>
            <td><%= donantes[i].telefono %></td>
            <td class="d-flex gap-2 botones">
              <a href="/donantes/update/<%= donantes[i].id %>" class="btn btn-info">
                Editar
              </a>
              <a href="/donantes/delete/<%= donantes[i].id %>" class="btn btn-danger">
                Borrar
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div class="card col-md-4">

      <div class="card-body">
        <form action="/donantes/add" method="POST">
          <label for="nombre">Nombre del Donador</label>
          <input
            type="text"
            name="nombre"
            placeholder="nombre"
            class="form-control mb-2"
            autofocus
          />
          <label for="correo">Correo Electr처nico</label>
          <input
            type="email"
            name="correo"
            placeholder="correo Electr처nico"
            class="form-control mb-2"
          />
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input
            type="date"
            name="fechaNacimiento"
            placeholder="Fecha de Nacimiento"
            class="form-control mb-2"
          />
          <label for="DNI">DNI</label>
          <input
            type="number"
            name="DNI"
            placeholder="DNI"
            class="form-control mb-2"
          />
          
          <input
            type="hidden"
            name="edad"
            placeholder="edad"
            class="form-control mb-2"
            value="0"

          />
          <label for="telefono">Telefono Celular</label>
          <input
            type="text"
            name="telefono"
            placeholder="Telefono"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-info">Grabar Donante</button>
        </form>
        
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
