<%- include("partials/_header") %>

<div class="mt-5">
  <div class="col">
    <div class="card col-9">
      <table class="table table-dark table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Día de la Extracción</td>
            <td>Nombre del Donante</td>
            <td>Cantidad(Litros)</td>
            <td>Grupo Sanguineo</td>
            <td>RH</td>
          </tr>
        </thead>
        <tbody>
          <% if (extraccion) { %> <% for(var i = 0; i < extraccion.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= extraccion[i].fecha %></td>
            <td><%= extraccion[i].Donante %></td>
            <td><%= extraccion[i].volumen %></td>
            <td><%= extraccion[i].grupo %></td>
            <td><%= extraccion[i].RH %></td>
            <td class="d-flex gap-2">
              <a href="/extracciones/update/<%= extraccion[i].id %>" class="btn btn-info">
                Edit
              </a>
              <a href="/extracciones/delete/<%= extraccion[i].id %>" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div class="card col-md-4">
      <div class="card-body">
        <form action="/extracciones/add" method="POST">
          <label for="fechaNacimiento">Fecha de Extracción</label>
            <input
            type="date"
            name="fecha"
            placeholder="Fecha"
            class="form-control mb-2"
          />
          <label for="nombre">Nombre del Donador</label>
          <input
            type="text"
            name="Donante"
            placeholder="Donante"
            class="form-control mb-2"
            autofocus
          />
          <label for="volumen">Cantidad de Sangre Extraida</label>
          <input
            type="number"
            name="volumen"
            placeholder="Volumen"
            class="form-control mb-2"
          />
          <label for="grupo">Grupo Sanguineo</label>
          <input
            type="text"
            name="grupo"
            placeholder="GrupoSanguineo"
            class="form-control mb-2"
          />
          <label for="RH">RH</label>
          <input
            type="text"
            name="RH"
            placeholder="RH"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-info">Guardar Datos de Extracción</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
