<%- include("partials/_header") %>

<div class="mt-5">
  <div class="col">
    <div class="card col-9">
      <table class="table table-dark table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Nombre del Receptor</td>
            <td>Motivo de la Donación</td>
            <td>Grupo Sanguineo</td>
            <td>RH</td>
            <td>Cantidad(Litros)</td>
          </tr>
        </thead>
        <tbody>
          <% if (solicitud) { %> <% for(var i = 0; i < solicitud.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= solicitud[i].nombre %></td>
            <td><%= solicitud[i].motivo %></td>
            <td><%= solicitud[i].grupo %></td>
            <td><%=solicitud[i].RH %></td>
            <td><%= solicitud[i].cantidad %></td>
            <td class="d-flex gap-2">
              <a href="/solicitudes/update/<%= solicitud[i].id %>" class="btn btn-info">
                Edit
              </a>
              <a href="/solicitudes/delete/<%= solicitud[i].id %>" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div class=" card col-md-4">
      <div class="card-body">
        <form action="/solicitudes/add" method="POST">
          <label for="nombre">Nombre del Receptor</label>
            <input
            type="text"
            name="nombre"
            placeholder="nombre"
            class="form-control mb-2"
          />
          <label for="Motivo">Motivo de la Donación</label>
          <input
            type="text"
            name="motivo"
            placeholder="motivo"
            class="form-control mb-2"
            autofocus
          />
          <label for="correo">Grupo Sanguineo</label>
          <input
            type="text"
            name="grupo"
            placeholder="grupo"
            class="form-control mb-2"
          />
          <label for="correo">RH</label>
          <input
            type="text"
            name="RH"
            placeholder="GrupoSanguineo"
            class="form-control mb-2"
          />
          <label for="correo">Cantidad(Litros)</label>
          <input
            type="number"
            name="cantidad"
            placeholder="cantidad"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-info">Grabar Solicitud</button>
        </form>
        <form action="/solicitudes/byGroup" method="post">
          <label for="correo" >Busca solicitudes según el Grupo Sanguineo</label>
          <input
            type="text"
            name="grupoBuscado"
            placeholder="grupo"
            class="form-control mb-2"
          />
          <button type="submit" class="btn btn-info"> Buscar Solicitud</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
